# Environment variables
.env*.local
.env
env/

# Common ignores
node_modules
.next/
.DS_Store
src/.next/
src/node_modules
src/package-lock.json
*scratch*

# TypeScript build info
src/tsconfig.tsbuildinfo

